@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.product_card{ 
    text-align: center;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 16px;
    box-shadow: 1px 0px 20px 5px rgba(0, 0, 0, 0.09);
    /* border: 1px solid rgba(41, 41, 41, 0.667); */
    width: 35%;
    font-family: 'Pacifico', cursive;
}
.product_card_title { 
    font-size: 2rem;
    margin: 5px auto;
}
.product_card_price { 
    font-size: 1.5rem ;
    color: rgb(20, 112, 40);
    font-weight: 700;
}